
.buttonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:180px;
    margin-left: 24px;
    }
    .button{
        width:45px;
        height:45px;
        margin:3px;
    } 